* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

main {
  overflow-x: hidden;
}

section {
  width: 100vw;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  color: white;
  padding: 1rem;
  text-align: center;
  position: fixed;
  width: 100%;
  display: grid;
  place-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
  color: white;
}

footer {
  background: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.headerContainer {
  width: 90%;
  height: 80px;
  background-color: blue;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-top: 25px;
}
